* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1b1b1b;
  position: relative;
  padding-bottom: 50px;
  min-height: 100vh;
}

header {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 5px;
}

main {
  width: 90vw;
  margin: 0 auto;
  padding: 30px 20px;
  /* min-height: calc(100vh - 211px - 58px); */
}

article{
  background-color: #363636;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

article:last-child {
  margin-bottom: 0;
}

article h3 {
  margin: 10px 0 25px 0;
}
article p {
  margin-top: 16px;
  line-height: 24px;
}

footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

h1 {
  color: white;
  text-align: center;
  margin-bottom: 1cm;
}

h2 {
  color: white;
  text-align: left;
  margin: 1%;
}
h3 {
  color: white;
  text-align: left;
  margin: 1%;
}

p {
  font-family: verdana;
  font-size: 20px;
  color: white;
  margin: 1%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}

nav li {
  float: left;

}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #6c6e6c;
}

footer p {
  font-family: verdana;
  font-size: 15px;
  color: white;
  margin: 1%;
}

article a:link {
  color: rgb(2, 97, 185);
  background-color: transparent;
  text-decoration: none;
}
article a:visited {
  color: rgb(185, 93, 228);
  background-color: transparent;
  text-decoration: none;
}
 article a:hover {
  color: rgb(216, 2, 2);
  background-color: transparent;
  text-decoration: underline;
}
article a:active {
  color: rgb(11, 214, 4);
  background-color: transparent;
  text-decoration: underline;
}

.nav-active {
  background-color: #6c6e6c;
  font-weight: bold;
}